.textcolor{
  color:#9460E9;
}
.bgcolor{
  background-color: #9460E9;
}
.bg{
  background-color: #1E1E1E;
}
.bgbanner{
  background-color: #131313;
}
.bp{
  padding-left: 151px;
  padding-top: 183px;
  padding-bottom: 256PX;
}
.bgcard{
  background-color: #28282A;
}
.cardborder{
 border-radius: 15px;
}
.gettext{
  color: #2A0C6C;
}
.profile{
  border-color: #9460E9;
  border-width: 20px;
}